.job-row { text-align: left; }

	.job-row h4 { font-weight: bold; }

	.job-row ul {
		list-style-position: outside;
		padding-left: 20px;
	}
		.job-row li { line-height: 1.45; }

	.job-row hr {
		height: 0;
		border: 0;
		border-bottom: 7px solid #c8c8c9;
		margin: 2em auto;
	}

/* specific heroes */

.page-job-details .hero-pic { background-image: url(/images/uploads/netbiz_hero/job-details.jpg); }

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 680px) {
	.page-job-details .hero-pic { background-image: url(/images/uploads/netbiz_hero/job-details_660.jpg); }
}

@media only screen and (min-width: 780px) {
	.page-job-details .hero-pic { background-image: url(/images/uploads/netbiz_hero/job-details_760.jpg); }
}

@media only screen and (min-width: 980px) {
	.page-job-details .hero-pic { background-image: url(/images/uploads/netbiz_hero/job-details_960.jpg); }
}