<!DOCTYPE html>

<html lang="en">

{exp:channel:entries channel="standard_one_column_page" dynamic="no" limit="1" disable="categories|member_data|pagination" url_title="{last_segment}"}

	<head>
		
{s-simply-head-meta}
		
		<meta name="description" content="{meta_description}" />
		
{s-simply-head-favicons}
		
		<title>{if meta_title}{meta_title}{if:else}{title} | {simply-white-label-ppc}{/if}</title>
		
{s-simply-head-includes}
		
	</head>
	
	<body id="top-of-page" class="{url_title}">
		
		{s-simply-tag-manager}
		
{s-simply-body-header}
		
		<!-- Main -->
		<main class="standard-one-col">
			<div class="container">
				<div class="row">
					<div class="col-xs-offset-2 col-xs-8 col-sm-8 col-md-offset-1 col-md-10 col-lg-10">
						<h2>{title}</h2>
						{content}
					</div>
				</div>
			</div>
		</main>
		<!-- /Main -->
		
{s-simply-body-footer}
		
{s-simply-body-includes}
	
	</body>

{/exp:channel:entries}

</html>