{if segment_1 == 'thank-you' && segment_2 != '' && segment_3 == ''}{redirect='404'}{/if}

<!DOCTYPE html>

<html lang="en">

{exp:channel:entries channel="thank_you_page" dynamic="no" limit="1" disable="categories|member_data|pagination" url_title="{if segment_2 != ''}{segment_2}{/if}{if segment_2 == ''}thank-you{/if}"}

	<head>
		
{s-simply-head-meta}
		
		<meta name="description" content="{thank_you_meta_description}" />
		
{s-simply-head-favicons}
		
		<title>{if thank_you_meta_title}{thank_you_meta_title}{if:else}{title} | {simply-white-label-ppc}{/if}</title>
		
{s-simply-head-includes}
		
	</head>
	
	<body id="top-of-page" class="{url_title}">
		
		{s-simply-tag-manager}
		
{s-simply-body-header}
		
		<!-- Main -->
		<main class="thank-you-page text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
						{thank_you_content}
						{if thank_you_download == 'Yes'}
						<a id="{url_title}-btn" class="btn btn-default" href="{thank_you_file_download:download_file}" download="{thank_you_file_download:download_file}" target="_blank">Download {thank_you_file_download:title}</a>
						{/if}
						{if thank_you_additional_content}
						<hr />
						{thank_you_additional_content}
						{/if}
						{thank_you_additional_downloads}
						<div class="additional-downloads">
							{if thank_you_additional_content}{if:else}<hr />{/if}
							<h4>{thank_you_additional_downloads:title}</h4>
							{thank_you_additional_downloads:download_description}
							<a id="{thank_you_additional_downloads:url_title}-btn" class="btn btn-default" href="{thank_you_additional_downloads:download_file}" download="{thank_you_additional_downloads:download_file}" target="_blank">Download {thank_you_additional_downloads:title}</a>
						</div>
						{/thank_you_additional_downloads}
					</div>
				</div>
			</div>
		</main>
		<!-- /Main -->
		
{s-simply-body-footer}
		
{s-simply-body-includes}
	
	</body>

{/exp:channel:entries}

</html>